.carousel-container {
  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slides-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide-wrapper {
  /* position: relative; */
  display: none;
}

.slide-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.active-slide {
  display: block;
  width: 100%;
  height: 100%;
}


/** Indicator */

.slide-indicator-container {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 12px;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.slide-indiactor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: aquamarine;
}

.slide-indiactor-cta {
  border: none;
}

.next-prev-cta-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
  padding: 12px;
}

.next-prev-cta-container button {
  border: solid #000;
  padding: 8px;
  border-width: 0px 8px 8px 0px;
  background-color: transparent;
}

.prev_cta {
  transform: rotate(135deg);
}

.next_cta {
  transform: rotate(-45deg);
}