.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.input-field {
    border: solid 1px #000;
    border-radius: 4px;
    background: #fff;
    padding: 16px;
}

.input-field:focus {
    outline: none;
}