.cell-wrapper {
    border: solid 1px #fff;
    width: 64px;
    height: 64px;
}

.cell-button {
    padding: 24px;
    color: #fff;
    background: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    border: none;
}

.winning-cell {
    /* background: yellow; */
}

button:disabled {
    opacity: 0.8;
    background-color: grey;
}