.accordian {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}

.accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: blueviolet;
  cursor: pointer;
  border: none;

}

.accordian-content {
  padding: 24px;
  border: solid 1px #000;
}

.arrow-down {
  border: solid #000;
  padding: 4px;
  border-width: 0px 4px 4px 0px;
  display: inline-block;
  transform: rotate(45deg);
}

.arrow-up {
    border: solid #000;
  padding: 4px;
  border-width: 0px 4px 4px 0px;
  display: inline-block;
  transform: rotate(-135deg);
}