.tictaktoe-game-container {
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-board {
  background-color: aquamarine;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  text-align: center;
  margin: 32px;
}

.grid-board {
  display: -ms-inline-grid;
}

.grid-cell {
  width: 40px;
  height: 40px;
  border: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
