* {
  box-sizing: border-box;
}

.news-feed-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.post-container {
  border: solid 1px #000;
  border-radius: 4px;
  padding: 24px;
  width: 60%;
}