.progres-bar-wrapper {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  border: solid 1px #000;
  background-color: greenyellow;
  margin: 32px 0px;
  box-sizing: border-box;
}

.progressbar-container {
  position: relative;
}

.progress-value {
  position: absolute;
}