.image-wrapper {
  width: 100%;
  height: 100%;
}

.lazy-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 500ms ease;
}

.lazy-image-visible {
  opacity: 1;
}

.lazy-image-not-visible {
  opacity: 0;
}