.card-container {
  background: #fff;
  padding: 24px;
  position: relative;
  border: solid 1px #000;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-content {
  width: 100%;
}

.card-title {
  margin: 0;
  padding: 0;
}

.card-subtitle {
  margin: 0;
  padding: 0;
}