* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px auto 100px;
    width: 100%;
    height: 100%;
}

.grid-header {
    grid-column: 1 / span 5;
    /* grid-row: inherit; */
    background-color: blueviolet;
}

.grid-sidebar {
    grid-row: 2 / span 2;
    background-color: aquamarine;
}

.grid-content {
    /* for footer */
    /* grid-row: 2 / span 1; */
    grid-row: 2 / span 2;
    background-color: grey;
}

/* .grid-footer {
    background-color: blue;
    grid-row: 3 / span 1;
} */