/* .modal-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    padding: 24px;
    background: #fff;
    opacity: 1;
    max-width: 480px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-close-cta-icon {
    background-color: none;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    border: none;
}

.modal-content {
    width: 100%;
}

.modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
} */