.file-upload-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.error-msg {
  font-size: 12px;
  color: red;
}

.preview-image {
  height: 240px;
  object-fit: contain;
}