.drag-drop-page {
  padding: 24px;
  box-sizing: border-box;
  height: 100vh;
}

.drag-drop-container {
  background-color: #b1def2;
  border: solid 1px #77868c;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  overflow-x: auto;
  height: 90%;
  gap: 16px;
}

.task-section {
  padding: 8px;
  border: dashed 1px #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 240px;
}

.dragable-item {
  cursor: grab;
}

.dragable-item:hover {
  transform: scale(1.02);
}

.jira-task {
  padding: 12px;
  border: solid 1px #000;
  border-radius: 4px;
  background-color: #fff;
}

.section-header {
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}