.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    gap: 2px;
}

.sidebar-cta {
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 4px;
    text-align: start;
}

.sidebar-cta:hover {
    scale: 1.02;
    font-weight: bold;
}