/* .container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  justify-content: center;
  align-items: center;
} */

.form-wrapper {
  margin: 8px 0px;
}

input {
  padding: 12px 16px;
  font-size: 16px;
  border: solid 1px #000;
  border-radius: 4px;
}

.error-info {
  color: red;
  font-weight: bold;
  font-size: 10px;
}

.tag-section {
  width: 100%;
}

.tag-list {
  list-style: none;
  width: 100%;
}

.tag-list-item{
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: solid 1px #000;
  margin: 8px 0px;
}

.remove-cta {
  background-color: none;
  font-weight: bold;
  color: red;
  border: none;
}