* {
    box-sizing: border-box;
}

.progress-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 100%;
}

.progress-bar-wrapper {
    width: 100%;
    height: 24px;
    border: solid 1px #c4c6cc;
    border-radius: 4px;
}

.progress-bar {
  text-align: center;
}

.start-cta {
    background: #641e96;
    color: #fff;
    font-weight: bold;
    margin: 24px 0px;
    padding: 16px 32px;
}