/* .container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 24px;
} */

.game-container {
    display: flex;
    flex-direction: column;
    background: #000;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header {
    color: #fff;
}

.board-container {
    display: inline-grid;
    grid-template-columns: repeat(var(--n), 1fr);
    border: solid 1px #000;
    gap: 0px;
}

.game-board-header {
    display: flex;
    gap: 24px;
    margin: 24px 0px;
    background: red;
    color: #fff;
    padding: 16px;
    justify-content: center;
    font-weight: bold;
}

.winner-info {
    background-color: green;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin: 24px 0px;
    padding: 16px;
}

.reset-button {
    padding: 12px 32px;
    margin: 16px;
    border: none;
    background: blue;
}